<div class="mx-5 mb-10 flex flex-col items-start justify-start md:w-[400px] w-52 md:mb-0">

    <img
      src="{{ photoCover }}"
      alt=""
      height="200px"
      srcset=""
      class="w-full h-auto md:min-w-52 lg:min-w-[400px]"
    >

 <h1 class="mt-5 text-xl"><a [routerLink]="['content', Id]">{{ cardTitle }}</a></h1>

 <div class="mt-5">
    <p>
      <a
      class="text-gray-500 font-serif"
      [routerLink]="['content', Id]">
          {{ cardDescription }}
      </a>
    </p>
  </div>

</div>
